/* Universal Selector to remove default browser settings */
* {
  padding: 0rem;
  margin: 0rem;
  box-sizing: border-box;
}

@font-face {
  font-family: "Main";
  src: url(./assets/fonts/Manrope-VariableFont_wght.ttf);
  font-weight: 500 700;
}

/* CSS Variables */
:root {
  --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
  --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
  --Grayish-Blue: hsl(212, 23%, 69%);
  --Light-Grayish-Blue: hsl(210, 46%, 95%);
}

html {
  font-size: 13px;
  font-weight: 500;
}

body {
  font-family: "Main";
  background-color: var(--Light-Grayish-Blue);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  border-radius: 10px;
  box-shadow: 0px 20px 50px 0px var(--Grayish-Blue);
}

.drawers {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.article {
  width: 445px;
  height: 280px;
  background-color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 32px 40px;
}

.article-content {
  display: flex;
  position: relative;
}

.article h1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 18px;
}

.article p {
  color: var(--Desaturated-Dark-Blue);
  line-height: 1.4;
  margin-bottom: 24px;
}

.avatar {
  border-radius: 50%;
  margin-right: 1.2rem;
}

.article-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: auto;
}

.article-details h2 {
  font-size: 1rem;
  font-weight: 700;
}

.article-details h3 {
  font-size: 1rem;
  font-weight: 500;
  color: var(--Grayish-Blue);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 50%;
}

.social-nav {
  display: flex;
  align-items: center;
  visibility: hidden;
  background: var(--Very-Dark-Grayish-Blue);
  position: absolute;
  bottom: 170%;
  right: -29%;
  height: 50px;
  padding: 1rem 2.1rem;
  border-radius: 12px;
  box-shadow: 0px 5px 20px 0px var(--Grayish-Blue);
}

.social-nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.social-nav ul .header {
  color: var(--Grayish-Blue);
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 2.5px;
}

.social-nav ul li {
  padding-left: 20px;
}

.social-nav ul::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: var(--Very-Dark-Grayish-Blue) transparent transparent
    transparent;
}

.social-nav.show {
  visibility: visible;
  animation: fadeIn 1s;
}

.button:active {
  background-color: var(--Very-Dark-Grayish-Blue);
}

.button:active .share {
  filter: brightness(400%);
}

.button-dark {
  background-color: var(--Desaturated-Dark-Blue);
}

.image-white {
  filter: brightness(400%);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Extra small devices [iPhone SE - 375](phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
    justify-content: stretch;
    width: 90%;
    height: 70%;
  }

  .drawers,
  .article {
    width: 100%;
  }

  .drawers {
    border-bottom-left-radius: 0px;
    border-top-right-radius: 10px;
    height: 186px;
    object-fit: cover;
  }

  .article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
    height: 100%;
  }

  .article h1 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  .button {
    z-index: 1;
    margin-top: 0.1rem;
  }

  .social-nav {
    bottom: 0px;
    left: 0px;
    width: 90vw;
    padding: 1.3rem 2.5rem;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }

  .social-nav ul::after {
    margin-left: 0px;
    border-width: 0px;
  }

  .social-nav ul .header {
    padding-left: 8px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
}

/* Medium devices [iPad Mini] (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
