/* Universal Selector to remove default browser settings */
* {
  padding: 0rem;
  margin: 0rem;
  box-sizing: border-box;
}

@font-face {
  font-family: "Main";
  src: url(./assets/fonts/Manrope-VariableFont_wght.ttf);
  font-weight: 500 700;
}

/* CSS Variables */
:root {
  --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
  --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
  --Grayish-Blue: hsl(212, 23%, 69%);
  /* used */
  --Light-Grayish-Blue: hsl(210, 46%, 95%);
}

html {
  font-size: 13px;
}

body {
  font-family: "Main";
  background-color: var(--Light-Grayish-Blue);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.article {
  width: 725px;
  height: 280px;
}

.article-content {
  display: flex;
}

.article-details {
  display: flex;
  flex-direction: column;
}

.button {
  border: none;
}

.social-nav {
  display: none;
}

.social-nav ul {
  display: flex;
  list-style-type: none;
}

/* Extra small devices [iPhone SE - 375](phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
}

/* Medium devices [iPad Mini] (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
